
    <footer class="bg-dark text-white mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <p>&copy;110121035 - Nguyễn Hoàng Khang - ĐỒ ÁN CƠ SỞ NGÀNH.</p>
                </div>
            </div>
        </div>
    </footer>