
    <style>
        body {
            min-height: 100vh; /* Set chiều cao tối thiểu của body là 100% của viewport height */
            margin: 0;
            padding: 0;
            position: relative;
        }

        .footer {
            position: absolute; /* Thiết lập vị trí tuyệt đối */
            bottom: 0; /* Đặt ở phía dưới cùng của body */
            width: 100%; /* Chiều rộng 100% */
            background-color: #343a40; /* Màu nền của footer */
            color: white; /* Màu chữ của footer */
            padding: 20px; /* Khoảng cách giữa nội dung và biên của footer */
        }
    </style>


<!-- Nội dung trang web -->

<footer class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
               
            </div>
            <div class="col-md-8">
                <p>&copy; 2023 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>



