<div class="container mt-5">
  <h2 class="mb-4">Thêm Sản Phẩm</h2>
  <form id="productForm" method="POST" action="/create/post">
    <div class="form-group">
      <label for="name">Tên Sản Phẩm:</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="descriptionScreen">Màn Hình:</label>
          <input type="text" class="form-control" name="detail.screen" required>
        </div>
        <div class="form-group">
          <label for="descriptionChip">Chip:</label>
          <input type="text" class="form-control" name="detail.chip" required>
        </div>
        <div class="form-group">
          <label for="image_url">Hình ảnh:</label>
          <input type="text" class="form-control" name="image_url" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="descriptionPin">Pin:</label>
          <input type="text" class="form-control" name="detail.pin" required>
        </div>
        <div class="form-group">
          <label for="descriptionBrand">Hãng:</label>
          <select class="form-control" name="detail.brand" required>
            <option value="Iphone">Iphone</option>
            <option value="SamSung">SamSung</option>
            <option value="Oppo">Oppo</option>
            <option value="XiaoMi">XiaoMi</option>

          </select>
        </div>
        <div class="form-group">
          <label for="descriptionRam">RAM:</label>
          <select class="form-control" name="detail.ram" required>
            <option value="3 GB">3 GB</option>
            <option value="4 GB">4 GB</option>
            <option value="6 GB">6 GB</option>
            <option value="8 GB">8 GB</option>
            <option value="12 GB">12 GB</option>
            <option value="16 GB">16 GB</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="price">Giá:</label>
      <input type="number" class="form-control" name="price" required>
    </div>
    <button type="submit" class="btn btn-primary">Thêm Sản Phẩm</button>
  </form>
</div>
