  <div class="container mt-5">
    <div class="row">
      <!-- Chi tiết sản phẩm -->
      <div class="col-md-8">
        <h2>{{productdetail.name}}</h2>
        //thẻ silde 
        
      </div>

      <!-- Thông tin sản phẩm -->
      <div class="col-md-4">
        <div class="card mb-3" style="width: 400px; height: 300px;">
          <div class="card-body">
            <h5 class="card-title">Chi tiết sản phẩm</h5>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Tên</th>
                  <td>{{product.name}}</td>
                </tr>
                <tr>
                  <th scope="row">Mô Tả</th>
                  <td>Mô tả sản phẩm sẽ ở đây.</td>
                </tr>
                <tr>
                  <th scope="row">Giá</th>
                  <td>$100.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-4 offset-md-8">
        <div class="card mb-3" style="width: 400px; height: 300px;">
          <div class="card-body">
            <h5 class="card-title">demo</h5>
            
          </div>
        </div>
      </div>

  